<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="app.dashboard({uid: uid})">App {{uid}}</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="app.dashboard({uid: uid})">Dashboard</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn" ui-sref="home()">Return Home</a></li>
            <li><a ui-sref="login()">Login</a></li>
        </ul>
    </div>
</div>