<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="home-navigation" ui-scrollfix="1" ng-include src="'views/shared/logged_out.navigation.html'"></nav>

<div class="fill" ng-include src="'views/home/landing.html'"></div>

<div class="container">
    <h1>{{welcome}}</h1>
</div>
