<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="login-navigation" ui-scrollfix="1" ng-include src="'views/shared/logged_out.navigation.html'"></nav>

<div class="container loginFormContainer">
    <h3 class="authTitle text-center">Login or <a href="#">Sign up</a></h3>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <form action="" autocomplete="off" method="POST">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="username" placeholder="email address">
                </div>
                <span class="help-block"></span>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <span class="help-block">Password error</span>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <label class="checkbox">
                <input type="checkbox" value="remember-me">Remember Me
            </label>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p class="forgotPassword">
                <a href="#">Forgot password?</a>
            </p>
        </div>
    </div>
</div>