html, body, .carousel, .item, .active, .carousel-inner
  height: 100%

#home-navigation:not(.ui-scrollfix)
  background: transparent
  border: none


.fill
  width: 100%
  height: 100%
  background-position: center
  background-size: cover

/* faster sliding speed

.carousel-inner > .item
  -webkit-transition: 0.3s ease-in-out left
  -moz-transition: 0.3s ease-in-out left
  -o-transition: 0.3s ease-in-out left
  transition: 0.3s ease-in-out left

/* keep full widget on smaller screens
@media (max-width: 767px)
  body
    padding-left: 0
    padding-right: 0