/*
 *  Note: It is best to use a less version of this file ( see http://css2less.cc
 *  For the media queries use @screen-sm-min instead of 768px.
 *  For .omb_spanOr use @body-bg instead of white.

.loginFormContainer
  position: absolute
  top: 40%
  left: 50%
  transform: translate(-50%, -50%)
  .authTitle
    line-height: 300%
  form
    .input-group.i
      width: 2em
    .help-block
      color: red

@media (min-width: 768px)
  .loginFormContainer .forgotPassword
    text-align: right
    margin-top: 10px
  .loginFormContainer > .row div:first-child[class*="col-"]
    margin-left: 25%

.loginFormNav
  background