<div ng-controller="HomeTopCarouselCtrl" id="top_slider" class="fill">
    <carousel interval="myInterval" class="fill">
        <slide ng-repeat="slide in slides" active="slide.active" class="fill"
               style="background-image:url({{slide.image}});">
            <div class="carousel-caption">
                <h4>Slide {{$index+1}}</h4>
            </div>
        </slide>
    </carousel>
</div>